<div class="container">
  <%= simple_form_for @jar do |f| %>
    <%= f.input :goal, input_html: { maxlength: 25 } %>
    <%= f.input :end_amount, input_html: { step: 100 } %>
    <%= f.button :submit, "Begin Jar", class: "btn btn-success w-100" %>
  <% end %>
</div>
