<div class="container-fluid">
  <h1>hello, i'm your jar.</h1>
  <%= @jar.goal %>
  <%= @jar.current_amount %>/<%= @jar.end_amount %>

  <% @coins.each do |coin| %>
    <p><%= "#{coin.amount} #{coin.currency}" %></p>
  <% end %> 
</div>


<div class="jar">
  <div class="jar jar-inner">
    <div class="jar-shine"></div>
    <div class="jar-neck"></div>
    <div class="jar-neck-inner"></div>
    <div class="jar-lip"></div>
  </div>
  <div class="label"></div>
</div>