body {
  background-color: #A7D8D8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.jar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 120px;
}

.jar-lip {
  background-color: #D3ECEC;
  height: 10px;
  width: 57%;
  border-radius: 8px;
  position: absolute;
  top: -53px;
  left: 65px;
}

.jar-neck {
  background-color: #D3ECEC;
  height: 12%;
  width: 50%;
  position: absolute;
  top: -43px;
  left: 75px;
  z-index: -1;
}

.jar-neck-inner {
  background-color: #E9F6F6;
  height: 50px;
  width: 43%;
  position: absolute;
  top: -43px;
  left: 85px;
}




.jar {
  background-color: #D3ECEC;
  height: 400px;
  width: 300px;
  position: relative;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jar-inner {
  background-color: #E9F6F6;
  height: 97%;
  width: 94%;
  overflow: hidden;
}

.jar-fill {
  background: linear-gradient(rgba(14, 95, 120, 1), rgba(14, 95, 120, 0.8), rgba(14, 95, 120, 0.7));
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.label {
  width: 100%;
  height: 30%;
  background-color: rgba(222, 184, 135, 0.7);
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 28px;
    font-family: helvetica;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
  }
}

.jar-shine {
  clip-path: polygon(0% 0%, 23% 0, 40% 2%, 58% 5%, 74% 10%, 86% 18%, 93% 29%, 97% 45%, 99% 65%, 100% 83%, 99% 100%, 93% 76%, 89% 63%, 85% 52%, 80% 40%, 71% 30%, 60% 20%, 46% 13%, 34% 8%, 19% 4%);
  background-color: white;
  width: 10%;
  height: 10%;
  z-index: 99;
  position: absolute;
  right: 10%;
  top: 5%;
}


.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  background-size: contain;
  top: -19px;
  opacity: 1;
  width: 6400px;
  height: 20px;
  animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-1px,0);
  }
  50% {
    transform: translate3d(0,0.5px,0);
  }
}